<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WebChangeDetectorSuite" verbose="1">
	<test name="WebChangeDetectorTests">
		<classes>
			<class name="com.uitester.api.WebChangeDetectorTest" />
			<class name="com.uitester.api.WebChangeDetectorAdditionalTest" />
			<class name="com.uitester.api.WebChangeDetectorParallelDriverTest" />
		</classes>
	</test>
</suite>
